<link rel="stylesheet" href="/static/css/style.css" type="text/css"> 


<script>
    function myFunction1() {
       window.location.assign("/login");
    }
     function myFunction2() {
       window.location.assign("/signup");
    } 
    function myFunction3() {
       window.location.assign("/admin");
    } 

</script>


    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Home</h1>
            </div>

            <div class="login-form">
                 <br>
                  <input type="button" value="Signup" class="btn btn-primary btn-large btn-block"  onclick="myFunction2();" ><br>
                  <input type="button" value="Login" class="btn btn-primary btn-large btn-block"  onclick="myFunction1();" >
                <br>
               <input type="button" value="Admin Panel" class="btn btn-primary btn-large btn-block"  onclick="myFunction3();"><br>

                
                
            </div>
        </div>
    </div>



<br>
<div><center><h3 style="font-family:verdana;color:white">Built for GoPlayBook Test by Ashish Bhawnani</h3></center></div>